<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
    <nav>
        <img src="https://i.imgur.com/LN24heD.jpg" alt="plane-icon">
        <div>
            <a href="/flights" class="btn btn-outline-dark btn-sm">All Flights</a>
            <a href="/flights/new" class="btn btn-outline-dark btn-sm">Add Flight</a>
        </div>
    </nav>
    <h1><%= title %></h1>
</header>
</html>