<%- include('../partials/header')%>

<h3>Add Ticket:</h3>
<form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>Seat</label>
    <input name="seat" required pattern="[A-F][1-9]\d?"  placeholder="Must be 'A1' thru 'F99'"><br>
    <label>Price</label>
    <input type="number" name="price" placeholder="$"><br>
    <input type="submit" value="Add Ticket">
</form>