@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
  padding: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  max-width: 80%;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  
}

img {
  height: 100%
}

.sectiontitle {
  margin-top: 30px;
}

.info {
  font-size: 16px;
  display: inline;;
  text-align: right;
}

.flight {
  margin-top: 20px;
}

#landing {
  text-align: center;
  margin-top: 100px;
}

#landingbody {
  background-image: url("https://i.imgur.com/Kv9FThe.jpg");
  background-size: cover;
}